<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">

    <title>GitHub Stalker</title>
    <meta name="description" content="GitHub user search and his repositories/branchs latest commits.">
    <link rel="canonical" href="https://calvingerling.github.io/gh-stalker/">
    <meta name="author" content="Calvin Gerling">
    <meta name="robots" content="index, nofollow">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="./dependencies/css/font-awesome.min.css">
    <link rel="stylesheet" href="./dependencies/css/bulma.css">
    <link rel="stylesheet" href="./main.css">
</head>

<body>
    <div id="app">
        <section class="hero is-dark">
            <div class="hero-head">
                <header class="nav">
                    <div class="container">
                        <div class="nav-left">
                            <a class="nav-item" target="_blank" href="http://github.com">
                                <span class="icon">
                                    <i class="fa fa-github"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </header>
            </div>

            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title is-1 modeka">GH STALKER</h1>
                    <search></search>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div v-if="search.count > 0 && !page.isOk" class="notification is-warning has-text-centered">
                    <error></error>
                </div>
                <div v-if="page.isOk">
                    <div v-if="!page.userSelected">
                        <users></users>
                    </div>
                    <div v-if="page.userSelected">
                        <div class="columns has-text-centered">
                            <div class="column has-content-centered">
                                <user></user>
                            </div>
                            <div class="column">
                                <repositories></repositories>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

        <section v-if="page.isOk && page.userSelected && showCommits" class="section">
            <div class="container">
                <div class="heading">
                    <h1 class="title">Latest Commits</h1>
                </div>
                <commits></commits>
            </div>
        </section>
    </div>
    
    <script src="./services/githubService.js"></script>
    <script src="./services/userService.js"></script>
    <script src="./dependencies/js/axios.min.js"></script>
    <script src="./dependencies/js/vue.min.js"></script>
    <script src="./dependencies/js/vuex.min.js"></script>
    <script src="./dependencies/js/moment-with-locales.min.js"></script>
    <script src="./store.js"></script>
    <script src="./filters/date.js"></script>
    <script src="./components/user-list.js"></script>
    <script src="./components/user-view.js"></script>
    <script src="./components/repository-list.js"></script>
    <script src="./components/comments-list.js"></script>
    <script src="./components/commits-list.js"></script>
    <script src="./components/search.js"></script>
    <script src="./components/error.js"></script>
    <script src="./app.js"></script>
</body>

</html>